body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    color: #444;
}

.campo {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;  /* Alinea el contenido verticalmente */
    width: 100%;
    max-width: 600px;
}

.campo label {
    font-size: 18px;
    margin-right: 20px;
    white-space: nowrap;
}

.btn-group {
    display: flex;
    align-items: center;
}

input[type="number"] {
    width: 40px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #eaeaea;
    margin: 0 10px;
}

button {
    width: 60px;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin: 0 5px;
}

button:hover {
    background-color: #0056b3;
}

#dineroCliente {
    width: 120px;
}

h2 {
    margin-top: 20px;
    font-size: 22px;
    color: #555;
}

#precioTotal, #cambio {
    font-weight: bold;
    color: #007bff;
}

button.reiniciar {
    display: block;
    width: 120px;
    background-color: #ff3b3b;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

button.reiniciar:hover {
    background-color: #c50000;
}

/* Media Queries para móviles */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .campo {
        flex-direction: row;  /* Alinea los elementos en una fila en móvil */
        justify-content: space-between;  /* Distribuye el espacio entre los elementos */
    }

    .campo label {
        font-size: 16px;
        margin-right: 10px;
    }

    input[type="number"] {
        width: 30px;
    }

    button {
        width: 60px;
    }

    button.reiniciar {
        width: 100%;
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }
}
